{% extends "index.html" %}
{% load static%}
{% block content%}
<section class="w3l-ecommerce-main">
                <!-- /products-->
    <div class="ecom-contenthny py-5">
        <div class="container py-lg-5">
            <div class="ecom-contenthny py-5">
                <div class="container py-lg-5">
                    <h3 class="title-w3l">Men T-Shirts</h3>
                    <!-- /row-->
                    <div class="ecom-products-grids row mt-lg-4 mt-3">
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2 shopv">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts1.jpeg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts1.jpeg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Checkered Casual Shirt">
                                            <input type="hidden" name="amount" value="899.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Ketch </a></h3>
                                    <h6><p class="">Men Colourblocked Oversized Fit T-Shirt</p></h6>
                                    <div>
                                        <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                        <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                        <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                        <span><i class="fa-solid fa-star-half-stroke" style="color: #dd9b0e;"></i></span>
                                        <!--<span class="fa fa-star"></span>-->
                                        <span class="fa fa-star"></span>
                                        <span>(3.5)</span>
                                    </div>
                                        <span class="price"><del>Rs. 1449</del>Rs. 509</span>
                                        <h6><span class="hot">Hot</span></h6>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts2.jpeg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts2.jpeg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Cotton Flared Kurta">
                                            <input type="hidden" name="amount" value="599.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Ketch</a></h3>
                                    <h6><p class="">Men Colourblocked Oversized Fit T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 1449</del>Rs. 509</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts3.jpeg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts3.jpeg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Men Casual Shirt">
                                            <input type="hidden" name="amount" value="799.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Ketch </a></h3>
                                    <h6><p class="">Men Colourblocked Regular Fit T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 1599</del>Rs. 559</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts4.jpg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts4.jpg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Men Casual Shirt">
                                            <input type="hidden" name="amount" value="799.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Locomotive </a></h3>
                                    <h6><p class="">Men Printed Round Neck T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 749</del>Rs. 329</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts5.jpeg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts5.jpeg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Men Casual Shirt">
                                            <input type="hidden" name="amount" value="799.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Ketch</a></h3>
                                    <h6><p class="">Men Solid Round Neck T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 1599</del>Rs. 439</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts6.jpeg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts6.jpeg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Men Casual Shirt">
                                            <input type="hidden" name="amount" value="799.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Highlander </a></h3>
                                    <h6><p class="">Men Striped Round Neck T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 799</del>Rs. 349</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts7.jpg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts7.jpg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Men Casual Shirt">
                                            <input type="hidden" name="amount" value="799.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Locomotive </a></h3>
                                    <h6><p class="">Men Printed Round Neck T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 999</del>Rs. 299</span>
                                </div>
                            </div>
                        
                        </div>
                        <div class="col-lg-3 col-6 product-incfhny mt-4">
                            <div class="product-grid2">
                                <div class="product-image2">
                                    <a href="product-single.html">
                                        <img class="pic-1 img-fluid radius-image" src="{% static "assets/images/ts8.jpg" %}">
                                        <img class="pic-2 img-fluid radius-image" src="{% static "assets/images/ts8.jpg" %}">
                                    </a>
                                    <ul class="social">
                                        <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                    
                                        <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                        </li>
                                    </ul>
                                    <div class="shopv single-item">
                                        <form action="#" method="post">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="add" value="1">
                                            <input type="hidden" name="shopv_item" value="Blend Straight Kurta">
                                            <input type="hidden" name="amount" value="399.99">
                                            <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                Add to Cart
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="product-single.html">Highlander </a></h3>
                                    <h6><p class="">Unisex Round Neck Printed T-Shirt</p></h6>
                                    <span class="price"><del>Rs. 1399</del>Rs. 389</span>
                                </div>
                            </div>
                        
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}