{% extends "index.html" %}
{% load static%}
{% block content%}
<section class="w3mid-gap"></section>
<section class="w3l-ecommerce-main">
        <div class="container-fluid bg-secondary mb-5">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 200px" >
                <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
                <div class="d-inline-flex">
                    <p class="m-0"><a href="">Home</a></p>
                    <p class="m-0 px-2">-</p>
                    <p class="m-0">Shop</p>
                </div>
            </div>
        </div>
        
        <!-- Shop Start -->
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <!-- Shop Sidebar Start -->
                <div class="col-lg-3 col-md-12">
                    <!-- Price Start -->
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                        <form>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" checked id="price-all">
                                <label class="custom-control-label" for="price-all">All Price</label>
                                <span class="badge1 border font-weight-normal">1000</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="price-1">
                                <label class="custom-control-label" for="price-1">$0 - $100</label>
                                <span class="badge1 border font-weight-normal">150</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="price-2">
                                <label class="custom-control-label" for="price-2">$100 - $200</label>
                                <span class="badge1 border font-weight-normal">295</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="price-3">
                                <label class="custom-control-label" for="price-3">$200 - $300</label>
                                <span class="badge1 border font-weight-normal">246</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="price-4">
                                <label class="custom-control-label" for="price-4">$300 - $400</label>
                                <span class="badge1 border font-weight-normal">145</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-control-input" id="price-5">
                                <label class="custom-control-label" for="price-5">$400 - $500</label>
                                <span class="badge1 border font-weight-normal">168</span>
                            </div>
                        </form>
                    </div>
                    <!-- Price End -->
                    
                    <!-- Color Start -->
                    <div class="border-bottom mb-4 pb-4">
                        <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                        <form>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" checked id="color-all">
                                <label class="custom-control-label" for="color-all">All Color</label>
                                <span class="badge1 border font-weight-normal">1000</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-1">
                                <label class="custom-control-label" for="color-1">Black</label>
                                <span class="badge1 border font-weight-normal">150</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-2">
                                <label class="custom-control-label" for="color-2">White</label>
                                <span class="badge1 border font-weight-normal">295</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-3">
                                <label class="custom-control-label" for="color-3">Red</label>
                                <span class="badge1 border font-weight-normal">246</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="color-4">
                                <label class="custom-control-label" for="color-4">Blue</label>
                                <span class="badge1 border font-weight-normal">145</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-control-input" id="color-5">
                                <label class="custom-control-label" for="color-5">Green</label>
                                <span class="badge1 border font-weight-normal">168</span>
                            </div>
                        </form>
                    </div>
                    <!-- Color End -->
                
                    <!-- Size Start -->
                    <div class="mb-5">
                        <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                        <form>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" checked id="size-all">
                                <label class="custom-control-label" for="size-all">All Size</label>
                                <span class="badge1 border font-weight-normal">1000</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-1">
                                <label class="custom-control-label" for="size-1">XS</label>
                                <span class="badge1 border font-weight-normal">150</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-2">
                                <label class="custom-control-label" for="size-2">S</label>
                                <span class="badge1 border font-weight-normal">295</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-3">
                                <label class="custom-control-label" for="size-3">M</label>
                                <span class="badge1 border font-weight-normal">246</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" class="custom-control-input" id="size-4">
                                <label class="custom-control-label" for="size-4">L</label>
                                <span class="badge1 border font-weight-normal">145</span>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" class="custom-control-input" id="size-5">
                                <label class="custom-control-label" for="size-5">XL</label>
                                <span class="badge1 border font-weight-normal">168</span>
                            </div>
                        </form>
                    </div>
                    <!-- Size End -->
                </div>
                <!-- Shop Sidebar End -->
            
            
                <!-- Shop Product Start -->
                <div class="col-lg-9 col-md-12">
                    <div class="row pb-3">
                        <div class="col-12 pb-1">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="form-control1" placeholder="Search by name">
                                        <div class="input-group-append">
                                            <span class="input-group-text1 bg-transparent text-primary1">
                                                <i class="fa fa-search"></i>
                                            </span>
                                        </div>
                                    </div>
                                </form>                          
                            </div>
                        </div>
                        <div >
                            <!-- /products-->
                            
                            <div class="ecom-contenthny py-5">
                                <div class="container py-lg-5">
                                    <div class="ecom-contenthny py-5">
                                        <div class="container py-lg-5">
                                            <h3 class="title-w3l">{{ p.title }}</h3>
                                            <!-- /row-->
                                            <div class="ecom-products-grids row mt-lg-4 mt-3">
                                                {% for p in products %}
                                               
                                                <div class="col-lg-3 col-6 product-incfhny mt-4">
                                                    <div class="product-grid2 shopv">
                                                       
                                                        <div class="product-image2">
                                                            <a href="product-single.html">
                                                                <img class="pic-1 img-fluid radius-image" src="{{ p.image.url}}" >
                                                                <img class="pic-2 img-fluid radius-image" src="{{ p.image.url}}">
                                                            </a>
                                                            <ul class="social">
                                                                <li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>
                                                            
                                                                <li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
                                                                </li>
                                                            </ul>
                                                            <div class="shopv single-item">
                                                                <form action="#" method="post">
                                                                    <input type="hidden" name="cmd" value="_cart">
                                                                    <input type="hidden" name="add" value="1">
                                                                    <input type="hidden" name="shopv_item" value="Checkered Casual Shirt">
                                                                    <input type="hidden" name="amount" value="899.99">
                                                                    <button type="submit" class="shopv-cart pshopv-cart add-to-cart">
                                                                        Add to Cart
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="product-content">
                                                            <h5 class="title"><a href="product-single.html"><span>{{p.category.title}}</span>   {{p.specifications}} </a></h5>
                                                            <h6><p class=""> {{p.description}} </p></h6>
                                                            <div>
                                                                <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                                                <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                                                <span><i class="fa-solid fa-star" style="color: #e7ad0d;"></i></span>
                                                                <span><i class="fa-solid fa-star-half-stroke" style="color: #dd9b0e;"></i></span>
                                                                <!--<span class="fa fa-star"></span>-->
                                                                <span class="fa fa-star"></span>
                                                                <span>(3.5)</span>
                                                            </div>
                                                                <span class="price"><del>Rs. {{p.old_price}}</del>Rs. {{p.price}} ({{p.get_percentage|floatformat:0}}%) </span>
                                                                
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}                                           
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
                   
        
{% endblock content %}